<h1><%= @contact.name %></h1>
<p>Category: <%= link_to @contact.category.name, @contact.category %></p>

<% unless @contact.common_interests.empty? %>
  <h2>Common Interests</h2>
  <ul>
    <% @contact.common_interests.each do |ci| %>
      <li> <%= link_to ci.name, ci %> </li>
    <% end %>
  </ul>
<% end %>

<% unless @contact.contact_groups.empty? %>
  <h2>Groups</h2>
  <ul>
    <% @contact.contact_groups.each do |group| %>
      <li> <%= link_to group.name, group %> </li>
    <% end %>
  </ul>
<% end %>

<ul>
  <li><%= link_to "Edit", edit_contact_path(@contact) %></li>
  <li><%= link_to "Destroy", contact_path(@contact),
    method: :delete,
    data: { confirm: "Are you sure?" } %>
  </li>
</ul>