<!DOCTYPE html>
<html>
  <head>
    <title>ContactRepo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://unpkg.com/bulmaswatch/flatly/bulmaswatch.min.css">
  </head>

  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="container">
      <div class="navbar-brand">
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div class="navbar-menu">
        <div class="navbar-start">
          <%= link_to "Contacts", contacts_path, class: "navbar-item" %>
          <%= link_to "Categories", categories_path, class: "navbar-item" %>
          <%= link_to "Common Interests", common_interests_path, class: "navbar-item" %>
          <%= link_to "Groups", contact_groups_path, class: "navbar-item" %>
        </div>
      </div>

    </div>
  </nav>
  <body>
    <section class="section">
      <div class="container">
        <div class="content">
          <%= yield %>
        </div>
      </div>
    </section>
  </body>
</html>
